<div class="blogpost_inner_container">
    <div class="blogpost_header">
        En yeni blog yazıları
    </div>
    
    <div class="blogpost_container">
        {% for post in site.posts limit:3 %}
            <div class="article_card">
                <div class="card_info">
                    <div class="info_topinfos">
                        <div class="info__date">{{ post.date | localize: "%A, %-d %b %Y" }}</div>
                        <a href="{{ site.baseurl }}{{post.url}}" class="cardopen_button">
                            <i class="fa-solid fa-arrow-up-right-from-square fa-lg" style="color: #131313;"></i>
                        </a>
                    </div>
                    <div class="info__title">{{ post.title }}</div>
                    <div class="info__desc">{{ post.desc }}</div>
                </div>
                <div class="card_categories_section">
                    <ul>
                        {% for category in post.categories %}
                        <li id="red_cat" class="category_pills">{{ category }}</li>
                        {% endfor %}
                        <!-- <li id="red_cat" class="category_pills">Fikir</li>
                        <li id="green_cat" class="category_pills" >Büyü</li>
                        <li id="blue_cat" class="category_pills">Tarih</li> -->
                    </ul>
                </div>
            </div>

        {% endfor %}
        <!-- <div class="article_card">
            <div class="card_info">
                <div class="info_topinfos">
                    <div class="info__date">24 Şub 2023</div>
                    <div class="cardopen_button">
                        <i class="fa-solid fa-arrow-up-right-from-square fa-lg" style="color: #131313;"></i>
                    </div>
                </div>
                <div class="info__title">Cras sit amet vestibulum ipsum</div>
                <div class="info__desc">Nam vel sem tristique, sagittis ligula eget, scelerisque eros. Praesent faucibus elit nunc, nec pellentesque lectus viverra ut. In posuere odio lectus, et mattis lectus egestas eu. Suspendisse facilisis ut justo ut pharetra.</div>
            </div>
            <div class="card_categories_section">
                <ul>
                    <li id="red_cat" class="category_pills">Fikir</li>
                    <li id="green_cat" class="category_pills" >Büyü</li>
                    <li id="blue_cat" class="category_pills">Tarih</li>
                </ul>
            </div>
        </div> -->
    
    </div>
</div>



