    <footer class="footer-container">
        <ul>
          <li><a href="https://www.instagram.com/enginbyram/"><i class="fa-brands fa-instagram fa-xl" style="color: rgb(49,50,68);"></i></a></li>
          <li><a href="https://www.github.com/enginbyram/"><i class="fa-brands fa-github fa-xl" style="color: #313244;"></i></a></li>
        </ul>
        <div class="footer-header">
          <h1>Orbis Natura</h1>
          <p>Orbis evreni içerisinde geçen kısa hikayeler ve evren hakkındaki bilgileri içerir.</p>
          <p>Bütün hakları saklıdır.</p>
        </div>
      </footer>