<footer class="footer_container">
    <div class="footer_items">
        <span class="footer_header">ORBIS NATURA</span>
        <span class="footer_desc">Fantastik evren Orbis'in ve kısa hikayelerimin veritabanı. Ayrıca minik de bir blog.</span>    
        <ul class="footer_links">
            <a href="https://github.com/enginbyram" class="footer_github"><i class="fa-brands fa-github fa-2xl" style="color: rgba(#fff,.85);"></i></a>
            <a href="https://instagram.com/enginbyram" class="footer_instagram"><i class="fa-brands fa-instagram fa-2xl" style="color: rgba(#fff,.85);"></i></a>
        </ul>

    </div>
</footer>