<div class="topbar_container">
    <nav class="topbar__nav">
        <div class="topbar__nav_name"><a href="https://github.com/enginbyram">{{ site.author }}</a></div>
        <div class="searchbar">
            {% include search-lunr.html %}
        </div>
        <div class="topbar__nav_section">
            <ul>
            <a href="{{site.baseurl}}/"><li class="topbar__nav_section_list orbis">Orbıs</li></a>
            <a href=""><li class="topbar__nav_section_list">Blog</li></a>
            <a href=""><li class="topbar__nav_section_list">Projeler</li></a>
            <a href=""><li class="topbar__nav_section_list">Hakkımda</li></a>
            </ul>
        </div>
    </nav>
</div>