@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@400;700&display=swap');

$text: rgb(198,208,245);
$subtext1: rgb(179,188,223);
$subtext0: rgb(161,168,201);
$overlay2: rgb(142,149,179);
$overlay1: rgb(123,129,157);
$overlay0: rgb(105,109,134);
$surface2: rgb(86,89,112);
$surface1: rgb(67,70,90);
$surface0: rgb(49,50,68);
$base: rgb(28,28,42);
$side: rgb(24,24,37);
$exterior: rgb(17,17,27);
$textfont: "Inter";
$headerfont: "EB Garamond";
$lily: rgb(235,188,186);
$red: rgb(255,98,107);
$rose: rgb(243,137,143);
$violet: rgb(196,167,231);
$blue: rgb(147, 183, 245);
$sea: rgb(104,188,204);
$cyan: rgb(137,199,223);
$turquoise: rgb(128,216,220);
$green: rgb(56,198,141);
$yellow: rgb(249,226,175);
$lemon: rgb(246,193,119);
$orange: rgb(247,157,124);

$highlight-text: #f79d7c33;

// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  filter: invert(1);
  img {
    filter: invert(1);

    &.ioda { filter: invert(0); }
  }
}

body[a="dark"] { @include dark-appearance; }


@media (prefers-color-scheme: dark) {
  body[a="auto"] { @include dark-appearance; }
}
// -------------------------------------------- //

// bg color is also needed in html in order to
// block body's background propagation
// see: https://stackoverflow.com/a/61265706
html, body {
  background-color: $base;
  scroll-behavior: smooth;
}

html { height: 100%; }

body {
  color: $text;
  font-family: $textfont;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  min-height: 100%;
  overflow-wrap: break-word;
  display: flex;
  flex-direction: column;
}

.holy-grail__main {
  /* Take the remaining height */
  flex-grow: 1;

  /* Layout the left sidebar, main content and right sidebar */
  display: flex;
  flex-direction: row;
}

.post-meta { text-align: right; }

h1 {
  font-family: $headerfont;
  color: $text;
  border-bottom: 1px solid rgba($text, .45);
  text-align: center;
  text-transform: uppercase;
}

h2, h3, h4, h5, h6 {
  margin-top: 3rem;
  font-family: $headerfont;
  color: $text;
  line-height: 1;
}

h4 {
  border-bottom: 1px solid $text;
  line-height: 2;
  text-align: end;
}

hr { margin: 2rem 0; }

p { margin: 1rem 0; }

li { margin: 0.4rem 0; }

a {
  color: $lemon;
  font-weight: 600;
  text-decoration: none;
}

b, strong {
  font-weight: 500;
}

hr {
  text-align: center;
  border: 0;

  &:before { content: '***' }
  &:after { content: attr(data-content) '***' }
}

table { width: 100%; }

table, th, td {
  border: thin solid black;
  border-collapse: collapse;
  padding: 0.4rem;
}

code {
  color: white;
  background: black;
}

div.highlighter-rouge code {
  display: block;
  overflow-x: auto;
  white-space: pre-wrap;
  padding: 1rem;
}

blockquote {
  float:left;
  font-size: 10px;
  background-color: $side;
  padding: 2rem;
  margin: 1.785rem;
  width: max-content;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

// -------------------------------------------- //

// SIDE PANEL HERE
.side-panel {
  position: relative;
  top: 0;
  left: 0;
  width: 25%;
  background-color: $side;
  padding: 20px;
  box-sizing: border-box;
  h2 {
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid $cyan;
  }
  h3 {
    color: $lily;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 1px solid $lily;
  }
  ul {
    list-style: none;
  }
}

.main-cats {
  padding: 32px;

  .side-button {
    cursor: pointer;
    height: 45px;
    align-items: center;
    display: flex;
    border: 1px solid rgba($overlay0, .45);
    padding: 7px;
    transition: background-color 0.375s ease, opacity 0.3s ease;
    transition: border-color 0.375s ease;
    user-select: none;
    i {
      display: flex;
      padding-left: 10px;
    }
    p {
      display: flex;
      padding-left: 10px;
      color: $text;
      text-transform: uppercase;
      font-family: "EB Garamond";
      font-weight: 700;
      font-size: 1.23rem;
      line-height: 1;
    }
  }
  .side-button:hover {
    background-color: rgba($blue, 0.12);
    border-color: rgba($text, 1);
  }
}

// BUTTONS //

.scaff-container {
  cursor: pointer;
  padding: 1px 12px;
}
.scaff-content.collapsed {
  max-height: 500px;
}
.scaff-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.375s ease, opacity 0.3s ease;
  font-size: 12px;
}

// FOOTER //

.footer-container {
  background-color: $side;
  flex:1;
  ul {
    padding-inline-start: 0;
    display: flex;
    justify-content: center;
    li {
      padding: 10px;
      display: flex;
      list-style: none;
    }
  }
  .footer-header {
    padding: 15px;
    h1 {
      font-size: 1.25rem;
      border: none;
      color: $overlay0;
    }
    p {
      font-size: .55rem;
      color: rgba($overlay0, .45);
      text-align: center;
    }
  }
}


// CONTENTBOX - HOME //

.contentbox__main {
  display: flex;
  flex-wrap: wrap;
  #green-p {
    color: rgba($green, .675);
  }
  #red-p {
    color: rgba($red, .675);
  }
  #yellow-p {
    color: rgba($yellow, .675);
  }
  #violet-p {
    color: rgba($violet, .675);
  }
  a {
    font-weight: 500;
    color: $text;
  }
  .contentbox-container {
    flex: 1;
    margin: 10px 10px;
    display: flex;
    flex-direction: row;
    border: 1px solid rgba($overlay0, .45);
    transition: background-color 0.375s ease, opacity 0.3s ease;
    transition: border-color 0.375s ease;
    user-select: none;

  }
  .contentbox-container:hover {
    background-color: rgba($blue, 0.12);
    border-color: rgba($text, 1);
  }
  .contentbox-cc {
    cursor: pointer;
    flex: 1;
    padding: 10px 20px;
    p {
      font-size: 16px;
      text-align: justify;
    }
    .artbox {
      .fa-solid {
        display: flex;
        justify-content: center;
        padding-top: 30px;
      }
    }
  }
}

 // PAGE CONTENT //

.page-content {
  /* Take the remaining width */
  flex-grow: 1;
  .w {
    max-width: 540px;
    margin: 0 auto;
    padding: 4rem 2rem;

    h1 {
      font-size: 2.375rem;
    }
    h2 {
      font-size: 1.675rem;
    }
    h3 {
      font-size: 1.275rem;
    }
    h4 {
      font-size: 1.175rem;
    }
    h5 {
      font-size: .875rem;
    }
    p {
      margin-bottom: 1em; /* Adjust the value as needed */
      text-align: justify;
      word-spacing: -1px;
      font-family: "EB Garamond";
      font-size: 20px;
      text-indent: 4.75%;
    }
  }  
}