---
layout: default
---
<ul class="all_cats">
    <li id="sec_header_li">Öne çıkanlar</li>
    {% for post in site.tags.Featured limit:4 %}
        <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}} ({{post.date | date: "%m-%d-%Y" }})</a></li>
    {% endfor %}
</ul>

<ul class="all_cats">
    <li id="sec_header_li">Tüm makaleler</li>
    {% for post in site.posts limit:3 %}
        <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}} ({{post.date | date: "%m-%d-%Y"}})</a></li>
    {% endfor %}
</ul>

<ul class="all_cats">
    <li id="sec_header_li">Fikirler</li>
    {% for post in site.categories.Fikirler limit:3 %}
        <li><a href="{{site.baseurl}}{{post.url}}">{{post.title}} ({{post.date | date: "%m-%d-%Y" }})</a></li>
    {% endfor %}
</ul>

{{ content }}